The following exercises use 2019 flight statistics from the United States Department of Transportation’s Bureau of Transportation Statistics (available [here](https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FMF&QO_fu146_anzr=Nv4%20Pn44vr45) and in this repository as `data/T100_MARKET_ALL_CARRIER.zip`). Each row contains information about a specific route for a given carrier in a given month (e.g., JFK &rarr; LAX on Delta Airlines in January). There are 321,409 rows and 41 columns. Note that you don't need to unzip the file to read it in with `pd.read_csv()`.

#### __Exercise 4__:

Read in the data and convert the column names to lowercase to make them easier to work with.

In [6]:
import pandas as pd

df = pd.read_csv("./data/tsa_passenger_throughput.csv")
df.columns = df.columns.str.lower()
df

,date,2021 traveler throughput,2020 traveler throughput,2019 traveler throughput
0,5/14/2021,1716561.0,250467,2664549
1,5/13/2021,1743515.0,234928,2611324
2,5/12/2021,1424664.0,176667,2343675
3,5/11/2021,1315493.0,163205,2191387
4,5/10/2021,1657722.0,215645,2512315
...,...,...,...,...
360,5/19/2020,NaN,190477,2312727
361,5/18/2020,NaN,244176,2615691
362,5/17/2020,NaN,253807,2620276
363,5/16/2020,NaN,193340,2091116
364,5/15/2020,NaN,250467,2664549

#### __Exercise 5__:

What columns are in the data?

#### __Exercise 6__:

How many distinct carrier names are in the dataset?

#### __Exercise 7__:

Calculate the totals of the `freight`, `mail`, and `passengers` columns for flights from the United Kingdom to the United States.